<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Form Data</h1>
    <form method="post" action="/register"> <!-- Added action attribute -->
        <label>name</label>
        <input type="text" name="name" placeholder="name"> <!-- Added name attribute -->
        <label>email</label>
        <input type="email" name="email" placeholder="email"> <!-- Added name attribute -->
        <button type="submit">Submit</button> 
    </form>
</body>
</html>
